<mat-card>

  <mat-card-content>
    <div class="bootstrap-wrapper">
      <div class="container">
        <div class="container text-center">
          <img src="https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png"
            class="profile-image"
          >
          <h1 class = "mt20">{{user.firstName }} {{user.lastName }}</h1>
        </div>
        <div class="row">
          <div class="col-md-10 offset-1">
            <table class="table">
              <tr>
                <td>Username</td>
                <td> {{ user.username }} </td>
              </tr>
              <tr>
                <td>Email</td>
                <td>{{user.email }}</td>
              </tr>
              <tr>
                <td>Role</td>
                <td>{{user.authorities[0].authority }}</td>
              </tr>
              <tr>
                <td>Status</td>
                <td>{{user.enabled ? 'Active' : 'Not Active'}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>

  </mat-card-content>
  <div class="container mt20 text-center">

    <button mat-raised-button color="accent">UPDATE</button>
    <button mat-raised-button >SHARE</button>
    <!-- <mat-card-actions class="text-center">
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions> -->
  </div>

</mat-card>
